<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</head>
<body>
    
    <div class="container">
      <div class="container-fluid">
      <table class="table table-borderless">
        <tbody>
            <tr>
            <div class="container-fluid">
            <h3><%= mycity%></h3>
            <% for(var j = 0; j < 5; j++) { %>
                <td class="text-center">
                  <div class="card text-white bg-primary mb-3" style="width:14rem">
                    <div class="card-body">
                      <h3><%= day[j]%></h3>
                      <h3><%= forecast[j] %>&#8457</h3>
                    </div>
                  </div>
                </td>
            <% } %>
          </div>
            </tr>
        </tbody>
      </table>
    </div>
    </div>

</body>
</html>