<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <!--<form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>-->
        <p><%= mycity%></p>
        
        
      </fieldset>
      <div class="container-fluid">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col" class="text-center"><h3>Time</h3></th>
            <th scope="col" class="text-center"><h3>Today</h3></th>
            <th scope="col" class="text-center"><h3>Day 2</h3></th>
            <th scope="col" class="text-center"><h3>Day 3</h3></th>
            <th scope="col" class="text-center"><h3>Day 4</h3></th>
            <th scope="col" class="text-center"><h3>Day 5</h3></th>
          </tr>
        </thead>
        <tbody>
          
          <% for(var i = 0; i < 8; i++){ var k = i*3%>
            <tr>
              <th scope="row" class="text-center"><h3><%= k%></h3></th>
            <% for(var j = 0; j < 5; j++) { %>

              <td class="text-center">
                <h3><%= forecast[i].main.temp %></h3>
              </td>
              <% } %>
            </tr>
       <% } %>
        </tbody>
      </table>
    </div>
    </div>
  </body>
</html> 